<% provide(:title, 'About Us') %>
<h1> About Us</h1>
<center>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
     <img src='media.jpg' height="250px" width="250px" class="img-circle"> 
      <div class="caption">
        <h3>Media Variety</h3>
        <p>At Brooks Elementary, we provide a range of media types from dvd's to books. Browse our media collection to take a look!</p>
        <%= link_to "Browse Media", '#', class: "btn btn-primary" %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
     <img src='personnel.jpg' height="250px" width="250px" class="img-circle"> 
      <div class="caption">
        <h3>Personnel</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="thumbnail">
     <img src='facilities.jpg' height="250px" width="250px" class="img-circle"> 
      <div class="caption">
        <h3>Facilities</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>

</div>
</center>

