<% provide(:title, 'Home') %>

<div class="jumbotron jumbotron-kidsreading">
   <h1>Welcome to the Hicks Library Web Portal!</h1>
	<center>
	<%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
	<%= link_to "Sign In", signin_path, class: "btn btn-large btn-primary" %>
	</center>
</div>

