<center>
<div class="jumbotron-apex">
<%= image_tag("apex.png", :height => "400px", :width => "400px")%>
<h2>This site is brought to you by Apex Software Solutions </h2>
<h2>Revolutionizing Web Development one library at a time</h2>
</div>
</center>
