<div class="row">
   <aside class="span4">
      <section>
         <h1>
            <%= @user.first %>, <%= @user.last %>
            <%= @user.card_number%>
         </h1>
      </section>
   </aside>
</div>
