<div class="jumbotron-media">
<section>
<h1> Media </h1>

		<ol>
	<% @medias.each do |mediaItem| %>
					<li>
						<%= link_to(mediaItem) do %> <strong><%= mediaItem.title %></strong> <% end %>
					</li>
	<% end %>
		</ol>
</section>
</div>


