<div class="jumbotron-media">
<section>
<h1> Media </h1>

	<table class="table table-striped media-table">
	<% @medias.each do |mediaItem| %>
					<tr>
						<td>
						<%= link_to(mediaItem) do %> <strong><%= mediaItem.title %></strong> <% end %>			  </td>
					</tr>
	<% end %>
	</table>
</section>
</div>


