@import "bootstrap";

$bgDefault      : #33CCFF;
$bgHighlight    : #33CCFF;
$colDefault     : white; 
$colHover       : #3399FF; 
$colHighlight	 : #3399FF; 

/* universal */

.jumbotron {
	 height: 600px;
    margin-bottom: -25px;
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron-apex{
	height: 510px;
	width: 650px;
	background-color: #CCCCCC;
}

.jumbotron-contact {
   color: white;
	height: 200px;
	overflow: auto;
	background-color: $bgDefault;
}

.jumbotron-media {
   color: white;
	height: 560px;
	overflow: auto;
	background-color: $bgDefault;
}

.jumbotron-mediaItem {
   color: white;
	height: 200px;
	overflow: auto;
	background-color: $bgDefault;
}

.jumbotron-bookstack {
	  background-image: url('bookstack.jpg');
}

.jumbotron-kidsreading {
	  background: image-url('kidsreading.jpg');
}

@mixin box_sizing {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}

#logo {
   float: left;
   margin-right: 10px;
   font-size: 1.7em;
   color: #fff;
   text-transform: uppercase;
   letter-spacing: -1px;
   padding-top: 14px;
   font-weight: bold;
   line-height: 1;
}

#logo:hover {
   color: #aaa;
   text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
   line-height: 1;
}

h1 {
   font-size: 3em;
   letter-spacing: -2px;
   margin-bottom: 30px;
   text-align: center;
}

h2 {
   font-size: 1.2em;
   letter-spacing: -1px;
   margin-bottom: 30px;
   text-align: center;
   font-weight: normal;
}


body {
	background-color: #3399FF;
}


section {
   overflow: auto;
}

textarea {
   resize: vertical;
}

.center {
   text-align: center;
}

.center h1 {
   margin-bottom: 10px;
}

/* footer */

footer {
   margin-top: 45px;
   padding-top: 5px;
   border-top: 1px solid white; 
   color: white; 
}

footer a {
   color: white; 
}

footer a:hover {
   color: #66FFFF; 
}

footer small {
	margin-left: 20px;
   float: left;
}

footer ul {
	margin-right: 20px;
   float: right;
   list-style: none;
}

footer ul li {
   float: left;
   margin-left: 10px;
}

/* miscellaneous */

.debug_dump {
   clear: both;
   float: left;
   width: 100%;
   margin-top: 45px;
   @include box_sizing;
}

/* Sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px; 
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* Form */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
/*
  width: 25%;
  margin-bottom: 15px;
*/
  @include box_sizing;
color: black;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


.navbar-default {
  background-color: $bgDefault;
  border-color: $bgHighlight;
  .navbar-brand {
    color: $colDefault;
    &:hover, &:focus { 
      color: $colHighlight; }}
  .navbar-text {
    color: $colDefault; }
  .navbar-nav {
    > li {
      > a {
        color: $colDefault;
        &:hover,  &:focus {
          color: $colHighlight; }}}
    > .active {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}
    > .open {
      > a, > a:hover, > a:focus {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
  .navbar-toggle {
		background-color: $bgDefault;
    border-color: $bgHighlight;
    &:hover, &:focus { background-color: $bgHighlight; }
    .icon-bar { background-color: $colDefault; }}
  .navbar-collapse, .navbar-form { 
		background-color: $bgDefault;
		border-color: $colDefault; }
  .navbar-link {
    color: $colDefault;
    &:hover {
      color: $colHighlight; }}}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu {
    > li > a {
      color: $colDefault;
      &:hover, &:focus {
        color: $colHighlight; }}
    > .active {
      > a, > a:hover, > a:focus, {
        color: $colHighlight;
        background-color: $bgHighlight; }}}
}

.dropdown-menu {
		> li > a {
      	color: $colDefault;
		}
      color: $colDefault;
		border-color: $colDefault;
		background-color: $bgDefault;
}

.media-table {
	border: 10px solid white;
	border-collapse: collapse;
	width: 700px;	
	color: $colHighlight;
	font-weight: bold;
	.t-header {
		color: $colDefault;
	}
	overflow: auto;
}

.thumbnail-about {
	background-color: #44AAFF; 
	height: 400px;
}

