<footer class="footer">
   <small>
     <span class="glyphicon glyphicon-copyright-mark"> Apex Software Solutions</span> 
   </small>
   <nav>
      <ul>
         <li><%= link_to "Our Focus", '#' %></li>
         <li><%= link_to "Contact", '#' %></li>
      </ul>
   </nav>
</footer>
