<footer class="footer">
   <small>
     <span class="glyphicon glyphicon-copyright-mark"> Apex Software Solutions</span> 
   </small>
   <nav>
      <ul>
         <li><%= link_to "Apex SS", our_focus_path%></li>
         <li><%= link_to "Contact", contact_path %></li>
      </ul>
   </nav>
</footer>
